# This is a whitelist gitignore

# Ignore everything by default
*

# Allow these files
!.gitconfig
!.bash_aliases
!.gitignore
!.gitignore_global
!README.md
!.git-dude
!.git-dude/Logos-Github-icon.png
!GitRepos
!GitRepos/baboon-singing
!GitRepos/baboon-singing/save-radios.sh
