# This is a whitelist gitignore

# Ignore everything by default
*

# Allow these files
!README.md

## Unix basics
!.bash_aliases
!.bash_profile
!.gitconfig
!.gitconfig.local.example
!.gitignore
!.gitignore_global
!.tmux.conf
!.dircolors

## Projects
!GitRepos

!GitRepos/baboon-singing
!GitRepos/baboon-singing/*

!GitRepos/Muzei-Bash
!GitRepos/Muzei-Bash/*

## Scripts
!Scripts
!Scripts/*

## Apps/Languages config
!.gemrc

!.git-dude
!.git-dude/Logos-Github-icon.png

!.xchat2
!.xchat2/chanopt.conf
!.xchat2/colors.conf
!.xchat2/ignore.conf
!.xchat2/keybindings.conf
!.xchat2/notify.conf
!.xchat2/pevents.conf
!.xchat2/sound.conf
!.xchat2/xchat.conf


!.config
!.config/tmux
!.config/tmux/*
!.config.hotkeys
!.config/autostart
!.config/ranger
!.config/ranger/rc.conf
!.config/redshift.conf

!.mplayer
!.mplayer/config

.config/Mutate/frequence
