# This is a whitelist gitignore

# Ignore everything by default
*

# Allow these files
!README.md

## Unix basics
!.gitconfig
!.bash_aliases
!.bash_profile
!.gitignore
!.gitignore_global

## Projects
!GitRepos
!GitRepos/baboon-singing
!GitRepos/baboon-singing/*

## Apps/Languages config
!.gemrc
!.git-dude
!.git-dude/Logos-Github-icon.png